/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

.hammenu {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0 0.5em;
  border: 1px solid #865DFF;
  background-color: white;
  color: #865DFF;
  position: fixed;
  font-size: 2em;
  z-index: 5;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 2px solid #865DFF;  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none !important;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav-light {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 2px solid #865DFF;
}

.sidenav-light a {
  padding: 8px 8px 8px 32px;
  text-decoration: none !important;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav-light a:hover {
  color: #865DFF;
}

/* BACK TO TOP */

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 28px;
  border: none;
  outline: none;
  background-color: #865DFF;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
}

#myBtn:hover {
  background-color: #E384FF;
}

/* FINE BACK TO TOP */

img.audit {
	height: 13px;
	width: 13px;
	vertical-align: -1px;
}

img.audit-title {
	height: 16px;
	width: 16px;
	vertical-align: top;
	margin-top: 1px;
}

svg.audit-title {
	height: 16px;
	width: 16px;
	vertical-align: top;
	margin-top: 1px;	
}

p {
	color: hsl(228, 34%, 66%);
	font-size: 0.7rem;
	letter-spacing: 0.7px;
	margin-bottom: 1rem;
	line-height: 1;
}

.p-light {
	color: hsl(228, 12%, 44%);
}

a {
	color: #E384FF;
	text-decoration: none;
}

a:hover {
	color: #E384FF;
	text-decoration: underline;
}

.dark-theme {
	padding: 50px 15px;
	background-color: hsl(230, 17%, 14%);
}

.light-theme {
	background-color: hsl(0, 0%, 100%);
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.intro-box {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#main-heading {
	margin: 0;
	font-size: 2.5rem;
	line-height: 1.5;
}

.main-heading-logo {
content:url(../header/headerpa-lista.png);	
}

.main-heading-logo-light {
content:url(../header/headerpa-lista-light.png);	
}

#follower-heading {
	margin: 0;
	font-size: 0.9rem;
	letter-spacing: 0.7px;
	text-transform: none;
}

.label {
	margin-bottom: 0;
}

.mode-box {
	display: flex;
	align-items: stretch;
}

.form-switch {
	margin-left: 20px;
	font-size: 1.5rem;
}

.card-box {
	border-radius: 8px;
	background-color: hsl(228, 28%, 20%);
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-box-light {
	background-color: hsl(227, 47%, 96%);
}

.card-box:hover {
	cursor: pointer;
	background-color: hsl(232, 19%, 15%);
}

.card-box-light:hover {
	background-color: hsl(225, 100%, 98%);
}


.facebook-card {
	border-top: 6px solid hsl(208, 92%, 53%);
}

.twitter-card {
	border-top: 6px solid hsl(203, 89%, 53%);
}

.instagram-card {
  	border-top: 6px solid hsl(37, 97%, 70%);
}

.youtube-card {
	border-top: 6px solid hsl(348, 97%, 39%);
}

.profile {
	display: flex;
	align-items: center;
}

.followers-update {
	display: inline-block;
	align-items: center;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 5px;
	line-height: 1;
	color: hsl(0, 0%, 100%);
}

.h1-light {
	color: hsl(230, 17%, 14%);
}

h3 {
	color: hsl(228, 34%, 66%);
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	margin-bottom: 25px;

}

h3 a{
color: #865DFF;
}

h3 a:hover {
color: #E384FF;
}

.h3-light {
	color: hsl(228, 12%, 44%);
}

h4 {
	color: hsl(228, 34%, 66%);
	font-weight: 700;
	line-height: 3;
	font-size: 0.8rem;
	margin-left: 10px;
	letter-spacing: 0.5px;
}

.h4-light {
	color: hsl(228, 12%, 44%);
}

h5 {
	font-weight: 700;
	font-size: 0.7rem;
	margin-top: 0.2rem;
}

#overview-text {
	margin-bottom: 0.5rem;
	margin-top: 3rem;
	font-size: 1.8rem;
}

#presentazione {
	margin-bottom: 0.5rem;
	margin-top: 1rem;
	font-size: 1rem;
}

.drop {
	color: hsl(356, 69%, 56%);
	text-transform: uppercase;	
}


.up {
	color: hsl(163, 72%, 41%);
	text-transform: uppercase;
}

.stats-box {
	margin-bottom: 20px;
	border-radius: 8px;
	padding: 25px;
	background-color: hsl(228, 28%, 20%);
}

.stats-box-light {
	background-color: hsl(227, 47%, 96%);
}

.stats-box:hover {
	cursor: pointer;
	background-color: hsl(232, 19%, 15%);
}

.stats-box-light:hover {
	background-color: hsl(225, 100%, 98%);
}

.top-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 15px;
}

.bottom-content {
	margin-top: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.stats-desc {
	text-transform: uppercase;
	color: #865DFF;
	letter-spacing: 0.5px;
	font-size: 1rem;
	margin-bottom: 0;
	font-weight: 700;
}

.stats-count {
	font-size: 0.8rem;
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	line-height: 1.1rem;
}

.stats-count-light {
	color:  hsl(230, 17%, 14%);
}


@media (max-width:  768px) {
	.intro-box {
		flex-direction: column;
		align-items: stretch;
		margin-bottom: 10px;
	}
	
.hammenu {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0 0.5em;
  border: 1px solid #865DFF;
  background-color: white;
  color: #865DFF;
  position: fixed;
  font-size: 1em;
  top: 1em;
  z-index: 5;
  cursor: pointer;
}	
	
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 1em;}

	.intro {

		margin-bottom: 20px;
		margin-left: auto !important;
		margin-right: auto;
	}

	#main-heading {
		font-size: 1.6rem;
	}

	#follower-heading {
		font-size: 0.8rem;
	}

.nav li {
  list-style: none;
  padding: 6px 0;
}

.nav li a {
  font-size: 0.8rem;
}
	
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #865DFF;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

#myBtn:hover {
  background-color: #E384FF;
}

.main-heading-logo {
content:url(../header/headerpa-lista.png);
margin-left: auto;
margin-right: auto;
}

.main-heading-logo-light {
content:url(../header/headerpa-lista-light.png);	
}	

	.mode-box {
		border-top: 2px solid hsl(228, 28%, 20%);
		justify-content: space-between;
		padding: 7px 0 10px;
	}

	.mode-box-light {
		border-top: 2px solid hsl(227, 47%, 96%);
	}

	.label {
		font-size: 1rem;
		margin-left: 0;
	}

	.form-switch {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}
}